/* the tag selector */
body{
    background-color: rgb(108, 148, 58);
}

img{
    width: 300px;
}
/*dimension: px; ,%, em*/
/*color: name, %0000,*/

 p{
    color:rgb(142, 22, 80);
 }



/*class selector*/
.circular{
    border-radius:200%;
}

.first_para{
    color: rgb(61, 18, 3);
}
.redapple{
    background-color: rgb(146, 100, 53);
    width:50px;
}
.green_apple{
    background-color: yellow;
    width:100px;
}

/*id selector*/
#special{
    font-weight: 900;
    color: rgb(160,220,100);
    background-color: aquamarine;
}


/*group selector*/

.ekGroup,h1 {
    background-color: beige;
    color: blueviolet;
    font-weight: bold;
}

/*pseudo selector div and span*/

.apple{
    color: dodgerblue;
}
.apple:hover{
    background-color: darksalmon;
    color: cyan;
    font-weight: bolder;
}

.firstbox {
    background-color: chocolate;
    height: 100px;
    width:100px;
    position: relative;
}

.secondbox{
    background-color: rgb(212, 209, 34);
    height: 100px;
    width:100px;
    position:relative;
}



.thirdbox{
    background-color: black;
    height: 100px;
    width:100px;
    /* margin-inline-start: 200px;
    margin-top: -220px; */
    /* position top bottom */
}

.redapple{
    position: relative;
    margin-top: 40px;
    top: 40px;
}

.green_apple{
    position: inherit;
    margin-top: 50px;
    top: 30px;

}
